:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --default-spacing: 10px;
    --default-margin: 1rem;
    --medium-margin: 3rem;
    --larger-margin: 5rem;
    --primary-color: #7676d7;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--primary-color);
  }
  
  /* common css starts */
  
  .container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .title {
    text-align: center;
    margin-top: var(--default-margin);
    color: #7676d7;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--default-margin);
    margin-top: var(--medium-margin);
    margin-bottom: var(--larger-margin);
  }
  
  .buttons .btn,
  .buttons .btn:active,
  .buttons .btn:focus {
    background-color: var(--primary-color);
    box-shadow: none;
    outline: none;
    border: none;
  }
  
  .error-msg {
    color: #ff0000;
    text-align: center;
  }
  
  .loading {
    color: #6565d4;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
  }
  
  /* common css ends */
  
  /* search section starts */
  
  .search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--default-margin);
  }
  
  .search-section .search-input {
    min-width: 500px;
    padding: var(--default-spacing);
  }
  
  .search-section .search-btn {
    margin-left: var(--default-spacing);
  }
  
  /* search section ends */
  
  /* filters section starts */
  
  .filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: var(--default-margin);
  }
  
  .filters > * {
    padding: 5px 10px;
    background: #7676d7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* filters section ends */
  
  /* images section starts */
  
  .images {
    margin-top: var(--medium-margin);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--default-spacing);
    justify-content: center;
    align-items: center;
  }
  
  .images .image {
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    border-radius: 10px;
    transition: transform 0.5s;
  }
  
  .images .image:hover {
    transform: translateY(-3px);
  }
  
  /* images section ends */
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .images {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .search-section .search-input {
      width: 100%;
      min-width: unset;
      margin: 0 var(--default-margin);
    }
  
    .images {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  /* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    padding: 50px;
}

.search-section form {
    width: 100%;
    margin: 10px;
}

.search-input {
    width: 100%;
    padding: 10px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 25px;
    outline: none;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
    width: 100%;
    height: auto;
}

.box {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin: 10px;
    padding: 10px;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.1);
}
.buttons{
    text-align: center;
    margin: 30px;
}
.buttons button{
    margin-left:10px;
} */
